[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-libreoffice-5
name: LibreOffice 5.4.5.1
description: Long term support version of LibreOffice 5.
advice: 
version: 5.4.5.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-libreoffice-5 (5.4.5.1-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  3/3/2018 12:23:27

